!!!
html
  head
    link(rel='stylesheet', href='/vendor/bootstrap/2.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/draughtsman/latest/draughtsman.styl')
    script(src='/vendor/jquery/1.7.2/jquery.min.js')
    script(src='/vendor/bootstrap/2.1.0/js/bootstrap.min.js')
    script(src='/vendor/draughtsman/latest/draughtsman.coffee')
  body.container(style='margin-top: 25px')
    block body