ul.breadcrumb
  // each crumb, i in breadcrumbs
  //   if breadcrumbs[i+1]
  //     a(href=crumb.path)= crumb.name
  //     span.divider /
  //   else
  //     a(href=crumb.path).active= crumb.name

input.search-query.input-xxlarge(type='search', placeholder='search for a file or filetype')    
ul#listing.unstyled
  // each file in files
  //   li(class=file.type)
  //     a(href=file.path)= file.path