h1
  font-size: 6em
  color: cornflowerblue
  letter-spacing: -3px
  margin-bottom: 0

body
  font-size: 1.5em
  font-family: helvetica, arial
  background: #222
  color: white
  margin: 100px auto
  width: 500px

p
  border-left: 28px solid #ff6
  padding-left: 14px
  font-family: times new roman