!!! 5
html
  head
    style
      body {
        font-family: monaco, courier;
        margin: 50px auto;
        width: 550px;
        border: 1px solid #ccc;
        padding: 25px;
      }

      input {
        width: 100%;
      }

      ul {
        margin: 0;
      }

      li {
        list-style-type: none;
        margin-bottom: 15px;
      }

      a {
        color: #194287;
        text-decoration: none;
      }

      a:hover {
        color: black;
      }
  body
    h1 Directory listing for /
    input(type='search', placeholder='autocompleted-search')    
    ul
    - each file in files
      li
        a(href=file)= file
