body, input
  font-family: monaco, consolas, courier

ul#listing
  padding: 18px

  li
    padding-bottom: 0.5em

a
  color: #00609d
  text-decoration: none

  &:hover
    color: #2e3a46

li.folder a
  font-weight: bold

li.file a
  color: #666

li.error a
  color: #f33

h1
  margin-top: 0
  font-size: 1.4em
  text-transform: uppercase